.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.crumb::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  border-radius: 16px;

}
.crumb .crumb-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  text-transform: uppercase;
}
.crumb .crumb-text span {
  color: rgba(255, 255, 255, 0.5);
}
